.overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.icon{
    position: absolute;
    top: 60%;
    right: 6px;
    color: white;
}
.pointer{
    cursor: pointer;
}